@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-default;
}

h1,
h2,
a {
  @apply font-greve-wide;
}
p {
  @apply font-body;
}

@font-face {
  font-family: 'greve';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/greve-variable.ttf') format('truetype');
}
@font-face {
  font-family: 'klima';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/klima/webfonts/klima-regular-web.ttf')
    format('truetype');
}
